*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

/* common styles or utilities */
.all-bg{
    background-color: rgba(255, 255, 255, 1);
}
#primary-btn{
    width: 164px;
    height: 44px;
    padding: 12px 16px; 
    font-size: 16px;
    font-style: Semi Bold;
    line-height: 19px;
    border-radius: 8px;
    border: none;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;

}
.container{
    max-width: 1360px;
    margin: 0 auto;
}

/* main styles */
.nav-container{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px; 
}
.nav-container ul{
    list-style: none; 
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}
.nav-container ul li{
    cursor: pointer;
    opacity: 0.9;

}
#banner{
    background-image: url(..//assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.banner-area{
    text-align: center;
}
.banner-area .early-btn{
    width: 229px;
    height: 35px;
    padding: 8px 12px 8px 12px; 
    color: rgba(70, 145, 101, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border: none;
    margin: 154px 270px 16px 270px; 
    font-size: 16px;
    font-style: medium;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
}
.banner-area h2{
    font-size: 72px;
    font-weight: 700; ;
    text-align: center;
    margin: 16px 295px 16px 295px;
    color: rgba(255, 255, 255, 1);
}
.banner-area .span-color{
    color: rgba(70, 145, 101, 1);
}
.banner-area p{
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.banner-area .btn-1{
    width: 251px;
    height: 52px; 
    text-align: left; 
    padding: 12px 16px 12px 16px; 
    background-color: #30B868;
    color:rgba(255, 255, 255, 1); 
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
}
.banner-area .btn-2{
    width: 198px;
    height: 52px; 
    text-align: right; 
    padding: 12px 16px 12px 16px; 
    background-color: transparent; 
    color:rgba(255, 255, 255, 1); 
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
    stroke: 1px rgba(255, 255, 255, 1);
}
.container .text-box {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #001931;
    margin-top: 40px;
    margin-bottom: 16px; 
}
.container p{
    color: #627382; 
    text-align: center;
}
.card-container .card{
    display: flex;
    width: 322px;
    height: 300px;
    text-align: center;
    padding: 24px; 
    gap: 16px; 

}
.card-container .card img{
    border-radius: 30px;
    border-color:  rgba(249, 85, 85, 1);;
}
