*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

/* common styles or utilities */
.all-bg{
    background-color: rgba(255, 255, 255, 1);
}
.early-btn{
    width: 164px;
    height: 44px;
    padding: 12px 16px; 
    font-size: 16px;
    font-style: Semi Bold;
    line-height: 19px;
    border-radius: 8px;
    border: none;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;

}
.early-btn:hover{
    background-color: rgba(70, 145, 101, 1);

}
.container{
    max-width: 1360px;
    margin: 0 auto;
}

/* main styles */
.nav-container{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px; 
}
.nav-container ul{
    list-style: none; 
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}
.nav-container ul li{
    cursor: pointer;
    opacity: 0.9;

}
#banner{
    background-image: url(..//assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.banner-area{
    text-align: center;
}
.banner-area .early-btn{
    width: 229px;
    height: 35px;
    padding: 8px 12px 8px 12px; 
    color: rgba(70, 145, 101, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border: none;
    margin: 154px 270px 16px 270px; 
    font-size: 16px;
    font-style: medium;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
}
.banner-area .early-btn:hover{
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
}
.banner-area h2{
    font-size: 72px;
    font-weight: 700; ;
    text-align: center;
    margin: 16px 295px 16px 295px;
    color: rgba(255, 255, 255, 1);
}
.banner-area .span-color{
    color: rgba(70, 145, 101, 1);
}
.banner-area p{
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.banner-area .btn-1{
    width: 251px;
    padding: 12px 16px 12px 16px; 
    background-color: #30B868;
    color:rgba(255, 255, 255, 1); 
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, 0); ;
}
.banner-area .btn-1:hover{
    background-color: rgba(70, 145, 101, 1);
}
.banner-area .btn-2{
    width: 198px;
    text-align: right; 
    padding: 12px 16px 12px 16px; 
    background-color: transparent; 
    color:rgba(255, 255, 255, 1); 
    border: 2px solid rgba(255, 255, 255, 0.67);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
}
.banner-area .btn-2:hover{
    background-color: rgba(70, 145, 101, 1);
}
.container .text-box {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #001931;
    margin-top: 40px;
    margin-bottom: 16px; 
}
.container p{
    color: #627382; 
    text-align: center;
}
.card-grid{
    display: flex;
    gap: 24px; 
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 72px; 
    text-align: center;
}
.card{
    width: 322px;
    height: 300px; 
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 24px; 
    gap: 16px; 
    cursor: pointer;
}
.card:hover{
    background-color: rgb(231, 234, 232);
    color: rgba(255, 255, 255, 0.073);
}
.icon-circle{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: rgba(249, 85, 85, 1);
    margin: 60px 107px 16px 107px;   
}
.icon-circle img{
    width: 32px;
    height: 32px;
    padding: 14px;  
}
.card h3{
    width: 274px;
    height: 29px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: rgba(0,25, 49, 1);
    margin-bottom: 16px;
}
.card p{
    width: 274px; 
    height: 40px;
    font-size: 16px ;
    font-weight: 400;
    line-height: 20px;
    color: #627382; 
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: 120px;
}
.solution-content{
    margin: 120px 0px 120px 60px; 
}
.solution-content p{
    width: 700px;
    height: 40px; 
    text-align: left; 
    color: rgba(70, 145, 101, 1); 
    font-weight: 500;
    line-height: 19px;
}
.solution-content h2{
    width: 700px;
    height: 116px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #001931;
    text-align: left;
}
.solution-content .paraL{
    width: 700px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    text-align: left;
}
.bg{
    background-color: rgba(247, 246, 242, 1);
    padding: 80px 40px 80px 40px;
}
.checkList li{
    list-style: none;
    line-height: 33px;
}
.payment{
    text-align: center;
}
.payment p{
    margin: 16px 0px 24px 0px;  
}
.getAcces{
    text-align: center;
}
.getAcces p{
    margin: 16px 0px 24px 0px;
}
.early-btn{
    width: 164px;
    height: 44px;
    padding: 12px 16px; 
    font-size: 16px;
    font-style: Semi Bold;
    line-height: 19px;
    border-radius: 8px;
    border: none;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.footer-bg{
    background-color: rgba(0, 25, 49, 1);
    padding: 80px 40px 80px 40px;
}
.footer-bg p{
    color: #627382;
    text-align: center;

}
.social{
    text-align: right;
    color:rgba(255, 255, 255, 1); 
}
.social i{
    padding-top: 10px;
    margin-left: 15px;
}
.line{
    color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.06);
    margin: 30px; 
}